
/* Navigation Bar setup */
.nav {
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  min-height: 50px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  line-height: 1;
  position: static;
  margin-right: 50px;
  margin-top: 15px;
}

/* Hovering effect */
.nav > ul > li > a::after{
  content: '';
  margin: 10px;
  width: 0;
  background: rgb(0, 0, 0);
  height: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  transition: 0.5s;
}

/* Showing a::after */
.nav > ul > li > a:hover::after{
  width: 100%;
}

/* Shift all nav tabs to the right */
.nav > ul {
  flex: 1;
  text-align: right;
}


.nav > ul > li{
  display: inline-block;
  list-style: none;
  /*margin: 0 50px;*/
}

.nav > ul > li > a{
  text-decoration: none;
  color: none;
  padding: 0 10px;
  position: relative;
}

@media (max-width: 600px) {
  .grid {
    margin: 10%;
    width: 80%;
    flex-direction: column;
  }
}
